h2{
    font-family: 'Muli', sans-serif;
}

section{
    margin-top: 5rem;
}

.secao-titulo{
    margin-bottom: 2.5rem;
}

.mini-titulo{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    color: #ff5a93;
}

.saiba-mais{
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

.saiba-mais::before{
   content: url('../img/waves.png');
    position: relative;
    left: 5rem;
    top: 2rem;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.saiba-mais:hover::before{
    top: 1.5rem;
}

.botao-mais{
    font-family: 'Muli', sans-serif;
    color: #ffffff;
    font-weight: 600;

    margin-top: 2.5rem;
}

#metodologia{
    background-image: url('../img/bg-azul.png');
    background-repeat:no-repeat;
    z-index: -1;
    background-size:cover;
    background-position:center;
    padding: 5%;

}

.conheca{
    position: relative;
}

.conheca::before{
    content: url('../img/waves-2.png');
    top: .5rem;
    left: -0.5rem;
    position: absolute;
    z-index: 0;

    transition: 0.3s ease-in-out;
}

.conheca:hover::before{
    top: -1rem;
}

.mini-titulo-2{
    color: #ffd33d;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
}

.titulo-claro{
    font-weight: 600;
}

.titulo-claro, .txt-claro{
    font-family: 'Muli', sans-serif;
    color: #ffffff;
}

#servicos-cat{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.marcado{
    position: relative;
}

.marcado::before{
    content: "";
    position: absolute;
    background-color: #ff8868;
    
    height: 100px;
    width: 600px;
    z-index: -1;
    top: 0.5rem;
}

.veja{
    font-weight: 600;
    position: relative;
}

.veja::before{
    content: url('../img/waves-3.png');
    position: absolute;
    top: 0.5rem;
    z-index: -1;

    transition: 0.3s ease-in-out;
}

.veja:hover::before{
    top: -0.3rem;
}

#equipe{
    background-color: #ffd33e;
    padding: 5%;
}

.etiqueta-time{
    background-color: #faf7f7;
    padding: 5%;
    margin-left: 2px;
    
    font-size: 17px;
    color: #ff5a93;
    font-weight: 600;
}

.mapa{
    margin-top: 2.5rem;
}


#rodape{
    background-color: #222222;
    padding: 5%;
}

#rodape h6, p{
    color: #faf7f7;
}

#rodape p{
    font-size: 15px;
}

#rodape h6::after{
    content:url('../img/onda-verde.png');
    position: relative;
    z-index: 1;

    top: 1rem;
    left: -4.5rem;
}

.formulario{
    margin-top: 7.5rem;
  }

  .icones{
    transition: .2s ease-in-out;
  }
  
  .icones:hover{
    transform: scale(1.2);
  }

.txt-rodape{
    margin-top: 1rem;
}