@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    font-family: 'Muli', sans-serif;
}

body, html {
    height: 100%;
  }
  
#topo-rosa{
    background-color: #ff8868;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#txt-topo{
    position: relative;
    top: 10rem;
}

#txt-topo h2{
    font-weight: 700;
}

#txt-topo h5{
    color: #ffffff;
    font-weight: 600;
}



